<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

    <!--TimDao-START-->
    <bean id="timDao" class="ftn.edu.ais.dao.hibernate.TimDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--TimDao-END-->

    <!--ZanimanjeDao-START-->
    <bean id="zanimanjeDao" class="ftn.edu.ais.dao.hibernate.ZanimanjeDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--ZanimanjeDao-END-->

    <!--KategorijaDao-START-->
    <bean id="kategorijaDao" class="ftn.edu.ais.dao.hibernate.KategorijaDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--KategorijaDao-END-->

    <!--ZaposleniDao-START-->
    <bean id="zaposleniDao" class="ftn.edu.ais.dao.hibernate.ZaposleniDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--ZaposleniDao-END-->

    <!--HraniteljskaPorodicaDao-START-->
    <bean id="hraniteljskaPorodicaDao" class="ftn.edu.ais.dao.hibernate.HraniteljskaPorodicaDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--HraniteljskaPorodicaDao-END-->

    <!--DeteDao-START-->
    <bean id="deteDao" class="ftn.edu.ais.dao.hibernate.DeteDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--DeteDao-END-->

    <!--PripadaDao-START-->
    <bean id="pripadaDao" class="ftn.edu.ais.dao.hibernate.PripadaDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--PripadaDao-END-->

    <!--AngazovanDao-START-->
    <bean id="angazovanDao" class="ftn.edu.ais.dao.hibernate.AngazovanDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--AngazovanDao-END-->

    <!-- Add new DAOs here -->

    <!--TimManager-START-->
    <bean id="timManager" class="ftn.edu.ais.service.impl.TimManagerImpl">
        <constructor-arg ref="timDao"/>
    </bean>
    <!--TimManager-END-->

    <!--ZanimanjeManager-START-->
    <bean id="zanimanjeManager" class="ftn.edu.ais.service.impl.ZanimanjeManagerImpl">
        <constructor-arg ref="zanimanjeDao"/>
    </bean>
    <!--ZanimanjeManager-END-->

    <!--KategorijaManager-START-->
    <bean id="kategorijaManager" class="ftn.edu.ais.service.impl.KategorijaManagerImpl">
        <constructor-arg ref="kategorijaDao"/>
    </bean>
    <!--KategorijaManager-END-->

    <!--ZaposleniManager-START-->
    <bean id="zaposleniManager" class="ftn.edu.ais.service.impl.ZaposleniManagerImpl">
        <constructor-arg ref="zaposleniDao"/>
    </bean>
    <!--ZaposleniManager-END-->

    <!--HraniteljskaPorodicaManager-START-->
    <bean id="hraniteljskaPorodicaManager" class="ftn.edu.ais.service.impl.HraniteljskaPorodicaManagerImpl">
        <constructor-arg ref="hraniteljskaPorodicaDao"/>
    </bean>
    <!--HraniteljskaPorodicaManager-END-->

    <!--DeteManager-START-->
    <bean id="deteManager" class="ftn.edu.ais.service.impl.DeteManagerImpl">
        <constructor-arg ref="deteDao"/>
    </bean>
    <!--DeteManager-END-->

    <!--PripadaManager-START-->
    <bean id="pripadaManager" class="ftn.edu.ais.service.impl.PripadaManagerImpl">
        <constructor-arg ref="pripadaDao"/>
    </bean>
    <!--PripadaManager-END-->

    <!--AngazovanManager-START-->
    <bean id="angazovanManager" class="ftn.edu.ais.service.impl.AngazovanManagerImpl">
        <constructor-arg ref="angazovanDao"/>
    </bean>
    <!--AngazovanManager-END-->

    <!-- Add new Managers here -->

    <!-- Add new Actions here -->
</beans>