<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="ftn.edu.ais.model.User"/>
        <mapping class="ftn.edu.ais.model.Role"/>
        <mapping class="ftn.edu.ais.model.Tim"/>
        <mapping class="ftn.edu.ais.model.Kategorija"/>
        <mapping class="ftn.edu.ais.model.HraniteljskaPorodica"/>
        <mapping class="ftn.edu.ais.model.Dete"/>
    </session-factory>
</hibernate-configuration>